* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
:root {
  --accent-color: #9e9def;
  --primary: #e39ad1;
  --secondary: #ffbc9b;
  --lightGreen: #d8f1a4;
  --mediumGreen: #9defc7;
}

header {
  background-color: var(--accent-color);
  padding: 8px 15px 8px 15px;
}

.hero {
  background-color: var(--lightGreen);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.nuestros-productos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}

.card-info {
  background-color: var(--secondary);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 10px 20px 0 20px;
}
